name: VK Group Content Plan

on:
  schedule:
    - cron: '0 6 * * *'  # Утро (09:00 МСК)
    - cron: '0 15 1-31/2 * *' # Вечер через день (18:00 МСК)
  workflow_dispatch:

jobs:
  currency_post:
    if: github.event.schedule == '0 6 * * *' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with: {python-version: '3.9'}
      - run: pip install -r requirements.txt
      - run: python main.py
        env:
          VK_TOKEN: ${{ secrets.VK_TOKEN }}
          GROUP_ID: ${{ secrets.GROUP_ID }}

  rules_post:
    if: github.event.schedule == '0 15 1-31/2 * *' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Явное разрешение на запись в репозиторий
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true # Чтобы GitHub запомнил права для Push
      - name: Set up Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
      - uses: actions/setup-python@v4
        with: {python-version: '3.9'}
      - run: pip install -r requirements.txt
      - run: python rules_bot.py
        env:
          VK_TOKEN: ${{ secrets.VK_TOKEN }}
          GROUP_ID: ${{ secrets.GROUP_ID }}
      - name: Save changes
        run: |
          git add used_rules.txt
          git commit -m "Update history" || echo "No changes"
          git push